/*全局设置*/
.root{
    -fx-background-color: #FFFFFF;
}
/*顶部容器*/
.top-container{
   -fx-pref-height: 50px;
}
/*顶部几个链接的字体样式*/
.top-link{
    -fx-font-size: 18px;
    -fx-pref-width: 70px;
    -fx-pref-height: 35px;
}
/*链接的鼠标悬停样式*/
.top-link:hover{
    -fx-background-color: rgb(245, 245, 245);
    -fx-cursor: hand;
}
/*“发现”的红色字体*/
.red-font{
    -fx-text-fill: rgb(234, 111, 90);
}
/*搜索框样式*/
.search-box{
    -fx-pref-width: 160px;
    -fx-pref-height: 35px;
    -fx-background-color: rgb(238, 238, 238);
    -fx-border-color: rgb(238, 238, 238);
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-text-fill: rgb(160, 160, 160);
    -fx-font-size: 16px;
}
/*搜索按钮(放大镜)*/
.search-btn{
    /*去掉按钮边框*/
    -fx-background-insets: 0;
    -fx-background-color: rgb(238, 238, 238);
    -fx-fit-to-width: 25px;
    -fx-fit-to-height: 25px;
}
/*右侧Aa字体*/
.font-a{
    -fx-font-size: 18px;
    -fx-text-fill:  rgb(150, 150, 150);
    -fx-padding: 8 0 0 0;
    -fx-cursor: hand;
}
/*写文章按钮*/
.write-btn{
    -fx-text-fill:#FFFFFF;
    -fx-font-size: 16px;
    -fx-background-color: rgb(234, 111, 90);
    -fx-border-color: rgb(234, 111, 90);
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-fit-to-width: 110px;
    -fx-fit-to-height: 25px;
}
/*主题部分的灰色小字体*/
.content{
    -fx-text-fill: #999;
    -fx-font-size: 13px;
}
.view-all{
    -fx-pref-width: 280px;
    -fx-pref-height: 35px;
    -fx-background-color: rgb(247, 247, 247);
}
/*滚动条去掉边框*/
.no-border{
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}