.root {
    /*-fx-background-image: url("/li/7.jpg");*/
}
.button {
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-text-fill: #dd645d;
    -fx-font-size: 14px;
    -fx-background-color: rgb(175, 153, 92);

}
#arrayList {
    -fx-max-width: 700px;
    -fx-max-height: 500px;
    -fx-font-size: 26px;
}
#maxLabel {
    -fx-text-fill: rgb(90, 144, 191);
    -fx-font-size: 20px;
}
.button:hover{
    cursor:pointer
}
